body {
  padding: 50px;
  background-color: rgb(47, 56, 60);
  font-family: sans-serif;
}
#container {
  display: flex;
  justify-content: center;
}

.todoList {
  margin: 10px 0px;
}
  
.todoList .header input {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #FFF;
  width: 92%;
}

.todoList .header button {
  padding: 10px;
  font-size: 18px;
  margin: 10px;
  border: 1px solid #FFF;
}

.todoList .header button:hover {
  border: 1px solid #808080;
  color: #fff;
  background-color: #808080;
  cursor: pointer;
}